<section>
    {{#each posts as |post|}}
    <div class="card m-3">
    <h5 class="card-header">{{post.title}}</h5>
    <div class="card-body">
        <h6 class="card-title">{{format_date post.created_at}} by {{post.user.username}}</h6>
        <p class="card-text">{{post.post_text}}</p>
        <a href="/post/{{post.id}}"class="btn btn-primary">{{post.comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    </div>
    {{/each}}
</section