<div class="container-fluid m-3">
  <h1>{{post.title}}</h1>
  <h4>by {{post.user.username}} on {{format_date post.created_at}}</h4>
  <p>
    {{post.post_text}}
  </p>
    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div class="form-group m-3">
    <div class="form-group">
    <textarea class="form-control" name="comment-body" rows="3"></textarea>
  </div>
   <button type="submit" class="btn btn-primary mb-2">Add Comment</button>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
